@tailwind base;
@tailwind components;
@tailwind utilities;


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body{
    font-family: "Helvetica Neue", sans-serif;
}

.ant-menu-item-selected{
    background-color: rgb(175, 150, 3) !important;
}

.ant-btn-color-primary{
    background-color: rgb(175, 150, 3) !important;
}

.ant-spin-dot-holder{
    color: rgb(175, 150, 3) !important;
}